<html>
    <head>
        <link rel="stylesheet" href="/static/css/log1.css">
    </head>
<div class="jumbotron vertical-center"> 
        <div class="container">
          <form class="">
            <div class="form-group">
              <label class="sr-only">Name</label>
              <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
      </html>